

.Content p{
    font-size: 22px;
}

.Content button{
    font-family: 'Poppins', sans-serif;
    /* font-size: 20px; */
}

.NextStep{
    background-color: #009e00;
    color:#fff;
    padding: 10px 30px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 30px;
}
.NextStep:hover{
    background-color: green;
}
.NextStep[disabled]{
    display: none;
}

.finalPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh;
}
.finalPage h1{
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    color: #008416;
    text-transform: none;
    text-shadow: none;
}